@charset "UTF-8";


@media screen and (max-width: 768px){

    .iframe02{
        display: flex;
        max-width: 450px;
        max-height: 450px;
        margin: auto;
    }

    #burguer{
        display: block;
        background-color:#000b2b ;
        color: white;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }

    #burguer:hover{
        background-color:#da9734;
        color: black;
    }


    menu > ul > li {
        display: block;
        text-align: center;
        border: 1px solid rgb(0, 0, 0);
    }

    menu > ul > li > a{
        margin: 0px;
        border-radius: 0px;
    }

    menu > ul > li > a:hover{
        background-color: rgb(10, 26, 34);
    }

    main{
        width: 90vw;
    }

 

    .img{
        max-width: 450px;
    }

    .iframe02{
        display: flex;
        max-width: 450px;
        max-height: 450px;
        margin: auto;
    }
}