@charset "UTF-8";

/*customizado para impressoras*/
    header{
        background-color:#5585af ;
        height: 100px;
        position: sticky;
        top: 0px;
        display: none;
    }

    main::after{
        content: "Artigo feito por Rafael De Almeida";
    }
