@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800;900&display=swap');


    @font-face {
        font-family: 'Coffe';
        src: url('fontes/CoffeCake.otf') format('opentype'),
        url('fontes/CoffeCake.ttf') format('truetype');
        font-weight: normal;
        font-style:normal
    }

    *{
        margin:0px;
    }

    
    body{         /*configuração do body*/
        background-image:  linear-gradient(45deg, #B1E8FA 0,10%,#3A506B,#1C2541);
        background-attachment: fixed;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    header{     /*configuração do header*/
        background-color:#5585af ;
        height: 100px;
        position: sticky;
        top: 0px;
        z-index: 9;
    }

    header h1{ 
        text-align: center;
        color: white;
        font-size: 3em;
        margin: auto;
        padding: 20px;
    }

    menu{       /*menu do header*/
        padding-inline-start: 0px;
        box-shadow: 1px 6px 4px 0px rgba(0, 0, 0, 0.219);
        margin-top: 5px;
    }

    menu ul{
        list-style-type: none;
        background-color: rgb(70, 166, 211);
    }
    menu li{
        display: inline-block;
    }
    
    menu a {
        display: inline-block;
        background-color:#1C2541 ;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
    }

    menu a:hover{
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.13);
        border: 1px solid white;
        transform: translate(-2px, -2px);
        transition: transform 0.5s, border 1s;
        
        
    }
    main{     /*configuração do conteudo principal*/
        display: block;
        background-color: white;
        border-radius: 10px;
        box-shadow: 10px 10px 20px #080e2067;
        max-width: 700px ;
        padding: 10px;
        margin:auto;
        line-height: 30px;
    }


    main h1{
        color: #C03221;
        text-align: center;  
        text-shadow: 1px 1px 2px #550f0fdc;
        font: italic 800 4em 'Inconsolata', monospace;
        margin: 10px;
        margin-top: 30px;
    }


    h2{
        color: #d39840;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.363);
        margin-top: 38px;
        margin-bottom: 10px;
    }


    h3{
        color: #99610B;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.363);
        margin-bottom: 10px;
    }

    p{
        margin: 5px;
    }
    
    .exemplo{   /*classe para palavras chave*/
        color: #910404;
        font-weight: bold;
        background-image: linear-gradient(45deg, #899ace,white);
        border-radius: x;
        padding: 2px;
        border-radius: 3px;
    }

    .img{       /*classe para imagens*/
        border-radius: 10px;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.301);
        max-width: 700px;
    }



    abbr{
        color: #395477;
    }


    div.quadrado{       /*configuração para exemplo de quadrado em pseudo elementos*/
        display:inline-block;
        background-color: white;
        border:1px solid black;
        text-align: center;
        height: 50px;
        width: 50px
    }


    .quadrado:hover{
        background-color: #0b5999;
    }


    .escondido > p{       /*configuração para texto escondido*/
        display: none;
    }


    .escondido:hover > p{
        display: block;
        color: white;
        background-color: #0b59998c;
        width: 200px;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 2px;
        transition: 100s;
    }


    .escondido:hover{
        color: red;  
    }

    main a{     /*links no main*/
        text-decoration: none;
        color: #0f47ee;
    }

     main a:hover{
        color: black;
        text-decoration: underline;
    }


    main a::after{
        content: " [Link]";
    }

    .box-level{    /*configuração para caixa box-level*/
        height: 50px ;
        width: 75px;
        border: 3px solid #102c81;
        padding: 5px;
        background-color: #4f7894;  
    }


    .box-level>p{
        text-align:center;
        color: yellow;
    }
    
    .inline-level{    /*configuração para caixa inline-level*/
        border: 3px solid #102c81;
        padding: 5px;
        background-color: #4f7894;
        color: yellow;
    }

    #container{     /*configuração para container maior no maio da main*/
        background-color: purple;
        background-image: url(imagens/target001.png);
        background-size: 100% 100%;
        position:relative;

        margin: auto;
        height: 100px;
        width: 100px;
    }
    
    #conteudo{      /*configuração de conteudo dentro de container maior*/
        background-image: url(imagens/target001.png);
        background-size: 100% 100%;
        background-color: yellow;
        position: absolute;
        width: 60px;
        height: 50px;
        top: 50%;
        left:50%;
        transform: translate(-50% ,-50%);
    }

    table{          /*congiguração de tabela*/
        width: 400px;
        border-collapse: collapse;
        margin:10px;
    }

    td,th{
        border: 1px solid black;
        border-collapse: collapse;
        padding-left: 5px;
        text-align: left;
    }

    thead > tr > th{
        position: sticky;
        top: 135px;
        background-color: grey;
    }

    td.num{
        text-align: right;
    }

    thead,tfoot{ 
        background-color: grey;
        color: white;
    }

    th{
        text-align: center
    }

    tbody > tr:nth-child(odd){
        background-color: lightgray;
    }

    .iframe01{         /*configuração do iframe*/
        display: block;
        margin: auto;
        height: 300px;
        width: 300px;
        border: 1px solid black;
        box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.308);
    }


    ul.listcolunm{      /*configuração de lista em colunas*/
        list-style-position: inside;
        columns: 3;
    }

    fieldset{       /*configuração do fieldset*/
        background-color: lightgrey;
        color: #1C2541;
        font-weight: bold; 
    }

    .iframe02{
        display: flex;
        margin: auto;
    }
    
